/*Vai editar fundo, cor das letras e formato de letras que estiverem na tag body (corpo).*/
body {
    background-color: #000000;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

/*Vai editar cor das letras que estiverem marcado com a tag strong (marcador de texto)*/
.titulo-destaque{
    color: #00FFD8;
}

/*Vai editar a cor das letras que estiverem marcadas com a tag ul (tópicos)*/
ul{
    color: #00FFD8;
}

/*Vai editar as letras que estiverem na tag a (âncora), única diferença é que trocou pelas classes*/
.instagram{
    color: #00FFD8;
}

.github{
    color: #00FFD8;
}

.linkedin{
    color: #00FFD8;
}

/*Vai editar as letras que estiverem na tag span (marcador de texto)*/
span{
    color: #00FFD8;
}